[submodule "f"]
	path = f
	url = git@github.com:colinta/f
[submodule "b"]
	path = b
	url = https://github.com/rockymeza/b.git
[submodule "keyboards"]
	path = keyboards
	url = git@github.com:chroto/keyboards
